.mensagem {
    padding: 20px;
    border: 2px solid blue;
    background-color: rgb(212, 212, 243);
    color: blue;
}

.erro {
    padding: 20px;
    border: 2px solid red;
    background-color: rgb(241, 185, 185);
    color: red;
}

.atencao {
    padding: 20px;
    border: 2px solid yellow;
    background-color: rgb(240, 128, 83);
    color: yellow;
}